<div class="row justify-content-center mt-10">
  <div class="col-5 pl-10">
    <div class="card pl-5 pr-20 ml-5 ml-5">
    <h3 class="dsplay-6">{{ pagetitle }}</h3><hr class="hr">
    <form  (submit)="registerPatient()" [formGroup]="registerPatientform">
      <div class="form-group mb-3">
        <p>
          Full Name   <input type="text" formControlName="name" class="form-control"  placeholder="Full Name">
        </p>

      </div>
      <div class="form-group mb-3">

        <input type="text" formControlName="dob" class="form-control"  placeholder="Date of birth" onfocus="(this.type='date')" #dob (focusout)="(onFocusLost(this))">
      </div>
      <div class="form-group mb-3">

        <select class="form-control" formControlName="gender">
          <option value="">Select Gender ></option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <select class="form-control" formControlName="servicetype">
          <option value="">Select Service ></option>
          <option value="Outpatient">Outpatient</option>
          <option value="Inpatient">Inpatient</option>
        </select>
      </div>
      <div class="form-group mb-3">

        <textarea class="form-control"  placeholder="General Comments" rows="3" formControlName="comment"></textarea>
      </div>

     <div class="form-group mb-3">
      <button type="submit" class="btn btn-primary btn-block w-100 ml-10 mr-10" [disabled]="!registerPatientform.valid">register</button>
     </div>
</form>
</div>
</div>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <p class="display-6  text-center fw-bold">Patients Records</p><hr class="hr mb-2">
    <div class="table-responsive mb-5">
    <table class="table table-striped table-hover table-sm" >
      <thead class="table-dark">
        <tr>
          <th>No</th><th>Name</th><th>D.O.B</th><th>Gender</th><th>Service Type</th><th>Comments</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let patient of patients; let i = index;" >
          <td>{{ i+1 }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.dob | date : 'dd/MM/yyyy'}}</td>
          <td>{{ patient.gender.gender }}</td>
          <td>{{ patient.service.type_of_service }}</td>
          <td>{{ patient.service.general_comments }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
