.form-control{
  margin: 5px auto;
padding: 10px 10px;
}

.card{
  margin:15px 15px 15px 15px;
  padding:15px 15px 15px 15px;
}

input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }
